[mysqld]
# --- LOG GERAL ---
general_log = 1
general_log_file = /var/lib/mysql/general.log

# --- TIMEOUTS E CONEXÕES ---
max_connections = 10000           # aumenta o número de conexões simultâneas
wait_timeout = 88800            # tempo de inatividade antes de fechar conexão
interactive_timeout = 28800
net_read_timeout = 28800
net_write_timeout = 28800
innodb_lock_wait_timeout = 28800

# --- BUFFER E CACHE PARA GRANDES QUANTIDADES DE DADOS ---
innodb_buffer_pool_size = 10G    # aumenta se o servidor tiver mais RAM
innodb_log_file_size = 912M
innodb_log_buffer_size = 998M
innodb_flush_log_at_trx_commit = 10  # melhora performance em grandes inserções
innodb_flush_method = O_DIRECT      # evita dupla escrita em disco

# --- OUTRAS OTIMIZAÇÕES ---
bulk_insert_buffer_size = 9996M
tmp_table_size = 996M
innodb_log_buffer_size = 998M
innodb_flush_log_at_trx_commit = 10
